<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Головна сторінка</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <img th:src="@{images/kfis_logo.png}" alt="лого" class="logo">
    <h1>Облік успішності студентів</h1>
    <a th:href="@{/performances}" class="btn">Переглянути звіт успішності студентів</a>
</div>
</body>
</html>