<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Додати/редагувати успішність студента</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1>Додати/редагувати успішність студента</h1>

    <div th:if="${emptyFieldsError != null}">
        <div class="error-message" th:text="${emptyFieldsError}"></div>
    </div>

    <a th:href="@{/}" class="btn">Головна</a>
    <a th:href="@{/performances}" class="btn">Переглянути усіх студентів</a>

    <form th:action="${performance.performanceId == null} ? '/performances/insert' : '/performances/edit/' + ${performance.performanceId}" method="post">
        <div>
            <input type="hidden" name="performanceId" th:value="${performance == null ? '' : performance.performanceId}">
        </div>
        <div>
            <label for="subjectName" class="required-label">Предмет</label>
            <input type="text" id="subjectName" name="subjectName" th:value="${performance.subjectName}">

            <div th:if="${subjectNameError != null}">
                <div class="error-message" th:text="${subjectNameError}"></div>
            </div>
        </div>
        <div>
            <label for="lastName" class="required-label">Прізвище</label>
            <input type="text" id="lastName" name="lastName" th:value="${performance.lastName}">

            <div th:if="${lastNameError != null}">
                <div class="error-message" th:text="${lastNameError}"></div>
            </div>
        </div>
        <div>
            <label for="firstName" class="required-label">Ім'я</label>
            <input type="text" id="firstName" name="firstName" th:value="${performance.firstName}">

            <div th:if="${firstNameError != null}">
                <div class="error-message" th:text="${firstNameError}"></div>
            </div>
        </div>
        <div>
            <label for="middleName">По-батькові</label>
            <input type="text" id="middleName" name="middleName" th:value="${performance.middleName}">

            <div th:if="${middleNameError != null}">
                <div class="error-message" th:text="${middleNameError}"></div>
            </div>
        </div>
        <div>
            <label for="groupNo" class="required-label">Номер групи</label>
            <input type="text" id="groupNo" name="groupNo" th:value="${performance.groupNo}">

            <div th:if="${groupNoError != null}">
                <div class="error-message" th:text="${groupNoError}"></div>
            </div>
        </div>
        <div>
            <label for="course" class="required-label">Курс</label>
            <input type="number" id="course" name="course" th:value="${performance.course}" min="0">
        </div>
        <div>
            <label for="attendedLectures" class="required-label">Відвідані лекції</label>
            <input type="number" id="attendedLectures" name="attendedLectures" th:value="${performance.attendedLectures}" min="0">
        </div>
        <div>
            <label for="labWorksCompleted" class="required-label">Виконані лаб. роботи</label>
            <input type="number" id="labWorksCompleted" name="labWorksCompleted" th:value="${performance.labWorksCompleted}" min="0">
        </div>
        <div>
            <label for="labWorksGrades">Оцінки</label>
            <input type="text" id="labWorksGrades" name="labWorksGrades" th:value="${#strings.replace(performance.labWorksGrades, '<br>', ', ')}">

            <div th:if="${labWorksGradesError != null}">
                <div class="error-message" th:text="${labWorksGradesError}"></div>
            </div>
        </div>
        <button type="submit">Зберегти</button>
    </form>
</div>
</body>
</html>
