<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Успішність студентів</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="background"></div>
<div class="container">
    <h1>Успішність та відвідування занять студентами</h1>

    <div class=table_buttons>
        <a th:href="@{/}" class="btn">Головна</a>
        <a th:href="@{/performances/insert}" class="btn">Додати успішність студента за предметом</a>
    </div>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Дата</th>
            <th>Предмет</th>
            <th>Прізвище</th>
            <th>Ім'я</th>
            <th>По-батькові</th>
            <th>Номер групи</th>
            <th>Курс</th>
            <th>Відвідані лекції</th>
            <th>Виконані лаб. роботи</th>
            <th>Оцінки</th>
            <th>Дії</th>
        </tr>
            <tr th:each="Performance : ${performances}">
                <td th:text="${Performance.getPerformanceId()}"></td>
                <td th:text="${#temporals.format(Performance.getDate(), 'dd.MM.yyyy HH:mm:ss')}"></td>
                <td th:text="${Performance.getSubjectName()}"></td>
                <td th:text="${Performance.getLastName()}"></td>
                <td th:text="${Performance.getFirstName()}"></td>
                <td th:text="${Performance.getMiddleName()}"></td>
                <td th:text="${Performance.getGroupNo()}"></td>
                <td th:text="${Performance.getCourse()}"></td>
                <td th:text="${Performance.getAttendedLectures()}"></td>
                <td th:text="${Performance.getLabWorksCompleted()}"></td>
                <td th:utext="${#strings.replace(Performance.getLabWorksGrades(), '\n', '<br>')}"></td>
                <td>
                    <a th:href="@{/performances/edit/{id}(id=${Performance.performanceId})}">Редагувати</a>
                    <a th:href="@{/performances/delete/{id}(id=${Performance.performanceId})}">Видалити</a>
                </td>
            </tr>
    </table>
</div>
</body>
</html>